<!DOCTYPE html>
<meta charset="utf-8" />
<html>
<head>
<title>多客服插件-手机模拟</title>
<script type="text/javascript" src="http://vcms.hiluker.com/app/resource/js/lib/jquery-1.11.1.min.js"></script>
</head>
<body>
<div style="text-align:center"><span>当前您正在查看手机模拟页面</span></div>
<div style="display:block; padding-top:10px">
        <iframe id="fm453_duokefu" name="fm453_duokefu"  src="<?php echo $this->module['config']['welink']; ?>" border="0" marginWidth="0" marginHeight="0"frameBorder="no" width="320px"  height="486px;" scrolling="auto"/></iframe>
</div>
</body>
</html>