{template 'inner/appweb/header-updates'}
<style>
body {
  font-family: "Microsoft Yahei", Arial, sans-serif;
  font-size: 12px;
  background: #fff;
  overflow-x:hidden;
}
</style>
<body>
<div class="container">

	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				模块更新说明
			</h3>
			<div style="text-align:center">
			</div>
			<ol style="margin-left:-5px;">
					{template 'inner/news/2015-12-20'}
					{template 'inner/news/2015-11-20'}
					{template 'inner/news/2015-10-20'}
					{template 'inner/news/2015-08-01'}
					{template 'inner/news/2015-07-30'}
			</ol>
			<div style="text-align:center">
			</div>
		</div>
	</div>
</div>
</body>
</html>